# Report

In this notebook we report progress on the project of house price prediction.

In [1]:
import os
from functools import partial

In [8]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

In [3]:
import app
import data
import model
import metrics

In [4]:
models_dir = "models"

In [5]:
dataset_path = "dataset.csv"

In [6]:
dataset = data.get_dataset(
    partial(pd.read_csv, filepath_or_buffer=dataset_path),
    splits=("train", "test")
)

**If you need to visualize anything from your training data, do it here**

In [50]:
aux_df = pd.concat([dataset['train'][0].Neighborhood, dataset['train'][-1]], axis=1)
aux_df.groupby(['Neighborhood']).mean().to_dict()['SalePrice']

{'Blmngtn': 195138.18181818182,
 'BrDale': 105838.46153846153,
 'BrkSide': 127692.68292682926,
 'ClearCr': 204912.2105263158,
 'CollgCr': 193024.91428571427,
 'Crawfor': 216332.48571428572,
 'Edwards': 125816.48648648648,
 'Gilbert': 191363.37735849057,
 'IDOTRR': 95070.0,
 'MeadowV': 97658.33333333333,
 'Mitchel': 153015.3142857143,
 'NAmes': 148256.49019607843,
 'NPkVill': 148050.0,
 'NWAmes': 194407.55319148937,
 'NoRidge': 326601.92307692306,
 'NridgHt': 305164.0,
 'OldTown': 128876.96202531646,
 'SWISU': 140909.68421052632,
 'Sawyer': 137101.91228070174,
 'SawyerW': 183687.55,
 'Somerst': 229612.3137254902,
 'StoneBr': 301316.3888888889,
 'Timber': 248872.5172413793,
 'Veenker': 213055.55555555556}

In [34]:
dataset['train'][0].columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition'],
      dtype='object')

In [53]:
dataset['train'][0].Neighborhood.unique()

array(['SawyerW', 'Sawyer', 'Gilbert', 'NridgHt', 'SWISU', 'Edwards',
       'NWAmes', 'NAmes', 'Somerst', 'StoneBr', 'OldTown', 'ClearCr',
       'Mitchel', 'MeadowV', 'Timber', 'Veenker', 'BrkSide', 'CollgCr',
       'BrDale', 'NoRidge', 'IDOTRR', 'Crawfor', 'Blmngtn', 'NPkVill'],
      dtype=object)

In [54]:
import sys
import os

[autoreload of model failed: Traceback (most recent call last):
  File "C:\Users\USER\Anaconda3\envs\especializacion\lib\site-packages\IPython\extensions\autoreload.py", line 245, in check
    superreload(m, reload, self.old_objects)
  File "C:\Users\USER\Anaconda3\envs\especializacion\lib\site-packages\IPython\extensions\autoreload.py", line 410, in superreload
    update_generic(old_obj, new_obj)
  File "C:\Users\USER\Anaconda3\envs\especializacion\lib\site-packages\IPython\extensions\autoreload.py", line 347, in update_generic
    update(a, b)
  File "C:\Users\USER\Anaconda3\envs\especializacion\lib\site-packages\IPython\extensions\autoreload.py", line 292, in update_class
    if (old_obj == new_obj) is True:
ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()
]

In [59]:
df = pd.read_csv(dataset_path)
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

## Baseline

Before doing any complex Machine Learning model, let's try to solve the problem by having an initial educated guess.

In [ ]:
model_path = 
model =
train_predictions = 
test_predictions = 
train_error =
test_error =

## Linear Regression Model 

We want to try easy things first, so know lets see how a linear regression model does.

In [ ]:
model_path = 
model =
train_predictions = 
test_predictions = 
train_error =
test_error =

## Linear regression with Feature Engineering

Probably the previous model is not good enough, let's see how is the performance of a model using some produced features.

## Regularized Linear Regression

Let's assume you are overfitting. Load the results of a linear regression model with regularized loss

In [ ]:
model_path = 
model =
train_predictions = 
test_predictions = 
train_error =
test_error =

## Decision Tree

Decision trees ofer great complexity, they can fit even a noisy dataset almost perfectly. Let's see how it behaves on the task at hand. 

**Overfiting case**
Let's see the results for a model that has greatly overfit the data, this wouldn't be an ideal model, but at least it could tell that our model is powerful enough for the task at hand

In [ ]:
model_path = 
model =
train_predictions = 
test_predictions = 
train_error =
test_error =

**Using best hyper params** Now let's see thow much a simple decision tree can give us

In [ ]:
model_path = 
model =
train_predictions = 
test_predictions = 
train_error =
test_error =

## Random Forest

Now it is time to use a model that can properly help us to regularize the previous one.

In [ ]:
model_path = 
model =
train_predictions = 
test_predictions = 
train_error =
test_error =